<form action="{POST_URL}" method="post">
<body role="document" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <h3>Agregar observaci&oacute;n {INFO_EFECTO}</h3>
                </div>
                {RESULT}
            </div>
            <div class="col-md-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 90%">
                            <textarea class="form-control" rows="4" id="obs_text" name="obs_text" style="width: 90%;"></textarea>
                        <td>
                        <td>
                            <button type="submit" class="btn btn-primary">Grabar</button>
                        <td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>