<body role="document">
    <div id="wrap">
        <!-- Fixed navbar -->
        {MAIN_MENU}        

        <script src="assets/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="assets/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="assets/chosen/chosen.jquery.min.js"></script>
        <!--<script src="assets/search_select/js/bootstrap-select.min.js"></script>-->
        <script src="assets/bootstrap/js/custom.js"></script>
        
        <div class="row" style="margin: 10px 50px 10px 50px;">
            <div class="col-md-12" style="margin-top:10%; font-size:20px; text-align:center; color:red;">
                Su usuario no esta autorizado a ver este informe
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--{DEBUG}-->
        </div>
    </div>

    <footer class="footer">
        
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>


