<form action="informe-2.php" method="get">
    <table style="width: 100%;">
        <tr>
            <td colspan="4" style="padding: 5px;">
                <select class="form-control selectpicker" data-live-search="true" id="pr" name="pr" style="width: 100%">
                    <option value="">Todos los proveedores</option>
                    {SUPPLIERS}
                </select>
            </td>
            <td style="padding: 5px;">
                <select class="form-control" id="giros" name="giros" style="width: 100%; min-width: 200px;">
                    {GIROS}
                </select>
            </td>
            <td rowspan="3" style="padding: 5px;">
                {EXCEL_URL}{PRINT_URL}
                <button style="margin-left: 20px;" type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                <a href="informe-2.php" style="margin-left: 20px; margin-top: 5px;" type="submit" class="btn btn-default btn-sm">Borrar</a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">Desde</div>
                        <input type="text" class="input-date input-sm form-control" id="start" name="start" value="{DF_START}" autocomplete="off"/>                        
                        <div class="input-group-addon">Hasta</div>
                        <input  type="text" class="input-date input-sm form-control" id="end" name="end" value="{DF_END}" autocomplete="off"/>
                    </div>
                </div>
            </td>
            <td style="width: 20%; padding: 5px;">
                <input type="text" class="form-control" id="sufac" name="sufac" placeholder="Su factura" value="{SUFAC}" />
            </td>
            <td style="width: 20%; padding: 5px;">
                <input title="Decimales separados por coma o punto y SIN separador de miles" type="text" class="form-control" id="impf" name="impf" placeholder="Base imponible" value="{IMPF}" />
            </td>

            <td style="width: 20%; padding: 5px;">
                <select class="form-control" id="status" name="status" style="width: 100%">
                    {STATES}
                </select>
            </td>
            <td style="width: 20%; padding: 5px;">
                <select class="form-control" id="deleted" name="deleted" style="width: 100%">
                    {IS_DELETED}
                </select>
            </td>

        </tr>
        <tr>
            <td style="width: 33%; padding: 5px;">
                <select onchange="contratos_por_proyecto();" class="form-control selectpicker" id="project" name="project" style="width: 100%">
                    <option value="">Todos los proyectos</option>
                    {PROJECTS}
                </select>
            </td>
            <td style="width: 33%; padding: 5px;" colspan="2">
                <select onchange="anexos_por_contrato();" class="form-control" id="contract" name="contract" style="width: 100%">
                    <option value="">Todos los contratos</option>
                </select>
            </td>
            <td style="width: 33%; padding: 5px;" colspan="2">
                <select class="form-control" id="annex" name="annex" style="width: 100%">
                    <option value="">Todos los anexos</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<!--<select class="form-control" id="y" name="y" style="width:100%">{YEARS}</select>-->
