<form action="informe-5.php" method="get">
    <table style="width: 100%;">
        <tr>                      
            <td style="padding: 5px;">
                <select class="form-control selectpicker" data-live-search="true" id="wk" name="wk" style="width: 100%">                                     
                    {WK}
                </select>
            </td>

            <td style="padding: 5px;">
                {EXCEL_URL}
                <button style="margin-left: 20px;" type="submit" class="btn btn-primary btn-sm">Filtrar</button>
            </td>
        </tr>        
    </table>
</form>
<!--<select class="form-control" id="y" name="y" style="width:100%">{YEARS}</select>-->
