<style>
    #tablaGastosGenerales thead tr th {
        vertical-align: middle;
    }
    #tablaGastosGenerales thead tr th.cabMes {
        min-width: 100px;
    }
    #tablaGastosGenerales tbody tr td.colMes {
        text-align: right;
    }
    tr.rowFooter {
        background-color: #ccc;
    }

    tr.rowFooter td.rowFooterEnc {
        text-align: right;
    }

    tr.rowFooter td {
        vertical-align: middle;
        text-align: right;
    }
</style>
<body role="document">
    <div id="wrap">
        <!-- Fixed navbar -->
        {MAIN_MENU}
        
        <div class="row" style="margin: 50px 50px 10px 50px;">
            <div class="col-md-12">
                {FILTRO}
            </div>
        </div>

        <script src="assets/chosen/chosen.jquery.min.js"></script> 
        <script>
            $('.selectpicker').chosen({ search_contains: true });
        </script>

        <div class="row" style="margin: 10px 50px 10px 50px;">
            <div class="col-md-12">
                <!-- <table id="tablaGastosGenerales" class="table table-striped table-bordered sticky-header"
                data-toggle="table"
                data-fixed-columns="true" 
                data-fixed-number="3"> -->
                <table id="tablaGastosGenerales" class="table table-striped table-bordered sticky-header">
                    <thead style="background-color:#fff;">
                        <tr style="border:solid 1px silver;">
                            <th>#</th>
                            <th class="columnaFija">C&oacute;digo</th>
                            <th class="columnaFija" style="min-width:300px;">Descripci&oacute;n</th>
                            <th class="cabMes">Enero</th>
                            <th class="cabMes">Febrero</th>
                            <th class="cabMes">Marzo</th>
                            <th class="cabMes">Abril</th>
                            <th class="cabMes">Mayo</th>
                            <th class="cabMes">Junio</th>
                            <th class="cabMes">Julio</th>
                            <th class="cabMes">Agosto</th>
                            <th class="cabMes">Septiembre</th>
                            <th class="cabMes">Octubre</th>
                            <th class="cabMes">Noviembre</th>
                            <th class="cabMes">Diciembre</th>
                            <th class="cabMes">Total anual</th>                                                     
                        </tr>
                    </thead>
                    <tbody>
                        {MAIN_CONTENT}
                        <tr class="rowFooter footerTotalGastos" style="border-top: 3px solid black">
                            <td class="rowFooterEnc" colspan="3">TOTAL GASTOS MEDIOS MATERIALES</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                                                
                        </tr>
                        <tr class="rowFooter footerTotalGastosA">
                            <td class="rowFooterEnc" colspan="3">TOTAL GASTOS MEDIOS MATERIALES ACUMULADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                                              
                        </tr>
                        {FACTURACION_MES}
                        <tr class="rowFooter footerFacturacionMesA">
                            <td class="rowFooterEnc" colspan="3">FACTURACION MENSUAL ACUMULADA</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="rowFooter footerPorcentaje">
                            <td class="rowFooterEnc" colspan="3">% GASTOS MEDIOS MATERIALES ESTIMADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="rowFooter footerPorcentajeA">
                            <td class="rowFooterEnc" colspan="3">% GASTOS MEDIOS MATERIALES ESTIMADO ACUMULADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {GASTOS_MES}
                        <tr class="rowFooter footerImporteA">
                            <td class="rowFooterEnc" colspan="3">IMPORTE IMPUTADO ACUMULADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="rowFooter footerDiferencia">
                            <td class="rowFooterEnc" colspan="3">DIFERENCIA REAL-IMPUTADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="rowFooter footerDiferenciaA">
                            <td class="rowFooterEnc" colspan="3">DIFERENCIA REAL-IMPUTADO ACUMULADO</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- <link href="assets/bootstrap/css/bootstrap-table-fixed-columns.css" rel="stylesheet">
<script src="assets/bootstrap/js/bootstrap-table-fixed-columns.js"></script> --> 
<script type="text/javascript">
    var imprimirFlag = false;

    $(document).ready(function() {
        obtenerTotalGastos();
        rellenarPrimerCampo();
        obtenerTotalGastosA();
        obtenerFacturacionMesA();
        obtenerImporteA();
        obtenerDiferencia();
        obtenerDiferenciaA();
        imprimirFlag = true; //cuando pinte todo ya es posible imprimir el excel
    });

    function obtenerTotalGastos() {
        var nivel = $("#niveles").val();
        if (nivel != 'contrato') {
            var sumMeses = [];
            /* en el bucle estan el numero de columnas 5 (Enero) -> 16 (Diciembre) */
            for (var i = 4; i <= 15; i++) {
                sum = 0;
                /* recorro cada columna hacia abajo, sumo y guardo en el array */
                $('#tablaGastosGenerales tr.rowTabla td:nth-child('+(i)+')').each(function () {
                    var value = $(this).attr('name');
                    if (!isNaN(value) && value.length != 0) {
                        sum += parseFloat(value);
                    }
                });
                sumMeses[i] = sum;
                /* cuando termina cada columna, pinta en la casilla que le toca y pasa a la siguiente columna */
                $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i-2)+')').text(addPuntoEnMil(formatoMoneda(sumMeses[i])));
                /* guardo el valor original para poder hacer calculos luego */
                $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i-2)+')').attr('name', sumMeses[i]);
                /* si en los gastos generales da 0 alguna columna, controlar que en la fila de facturacion mensual no se 'calcule' (ponerla a 0) */
                if (sumMeses[i] == 0) {
                    $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i-2)+')').text('');
                    $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i-2)+')').attr('name', '');
                }
            }
        } else {
            /* si filtra nivel contrato, los mismos datos de la primera fila deberán aparecer exactamente iguales en el footer */
            var sumMeses = [];
            /* en el bucle estan el numero de columnas 5 (Enero) -> 16 (Diciembre) */
            for (var i = 4; i <= 15; i++) {
                sum = 0;
                /* recorro cada columna hacia abajo, sumo y guardo en el array */
                $('#tablaGastosGenerales tr.rowTabla:nth-child(1) td:nth-child('+(i)+')').each(function () {
                    var value = $(this).attr('name');
                    if (!isNaN(value) && value.length != 0) {
                        sum += parseFloat(value);
                    }
                });
                sumMeses[i] = sum;
                /* cuando termina cada columna, pinta en la casilla que le toca y pasa a la siguiente columna */
                $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i-2)+')').text(addPuntoEnMil(formatoMoneda(sumMeses[i])));   
                /* guardo el valor original para poder hacer calculos luego */
                $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i-2)+')').attr('name', sumMeses[i]);
                /* si en los gastos generales da 0 alguna columna, controlar que en la fila de facturacion mensual no se 'calcule' (ponerla a 0) */
                if (sumMeses[i] == 0) {
                    $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i-2)+')').text('');
                    $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i-2)+')').attr('name', '');
                }
            }
        }
    }

    function rellenarPrimerCampo() { //carga 3: TOTAL GASTOS GENERALES Acumulado + facturacion mensual acumulada + importe imputado acumulado
        var contador = 1;
        var value = 0;
        var valueFormato = '';
        /* el primer campo de las filas del footer son iguales a pares */
        $('#tablaGastosGenerales tr.rowFooter td:nth-child(2)').each(function () {
            if(contador%2 == 0) { // si es par, escribo el valor ahi
                $(this).text(valueFormato);
                $(this).attr('name', value);
            } else { //si no es par, cojo el valor y lo guardo en la variable
                value = $(this).attr('name');
                valueFormato = $(this).text();
            }
            contador++;
        });
    }

    function obtenerTotalGastosA() {
        for (var i = 3; i <= 13; i++) {
            var value = $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i)+')').attr('name');
            var valueA = $('#tablaGastosGenerales tr.footerTotalGastosA td:nth-child('+(i-1)+')').attr('name');
            if (valueA === undefined) { //si no tiene atributo name porque no tiene el primer valor (Enero)
                valueA = 0;
            }
            if (value != 0) {
                /* calculo el acumulado de los dos valores y lo escribo en en siguiente campo que toca */
                acumulado = parseFloat(value) + parseFloat(valueA);
                $('#tablaGastosGenerales tr.footerTotalGastosA td:nth-child('+(i)+')').attr('name', acumulado);
                $('#tablaGastosGenerales tr.footerTotalGastosA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(acumulado)));
            }
        }
    }

    function obtenerFacturacionMesA() {
        for (var i = 3; i <= 13; i++) {
            var value = $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i)+')').attr('name');
            var valueA = $('#tablaGastosGenerales tr.footerFacturacionMesA td:nth-child('+(i-1)+')').attr('name');
            if (valueA === undefined) { //si no tiene atributo name porque no tiene el primer valor (Enero)
                valueA = 0;
            }
            if (value != 0) {
                acumulado = parseFloat(value) + parseFloat(valueA);
                $('#tablaGastosGenerales tr.footerFacturacionMesA td:nth-child('+(i)+')').attr('name', acumulado);
                $('#tablaGastosGenerales tr.footerFacturacionMesA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(acumulado)));
            }
        }
    }

    function obtenerPorcentaje() {
        var ggbi = $('#ggbi').val();
        for (var i = 2; i <= 13; i++) { //en este caso empieza en ENERO!! (2)
            var totalGastos = $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i)+')').attr('name');
            var facturacionMes = $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i)+')').attr('name');

            var valor1 = parseFloat(totalGastos);
            var valor2 = parseFloat(facturacionMes) / (1+ggbi/100);
            var porcentaje = (valor1 / valor2) * 100;

            if (totalGastos != 0 && facturacionMes != 0) {
                $('#tablaGastosGenerales tr.footerPorcentaje td:nth-child('+(i)+')').attr('name', porcentaje);
                $('#tablaGastosGenerales tr.footerPorcentaje td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(porcentaje)));

                if (i == 2) { //aqui no existe aun el calculo y no lo puede coger
                    $('#tablaGastosGenerales tr.footerPorcentajeA td:nth-child('+(i)+')').attr('name', porcentaje);
                    $('#tablaGastosGenerales tr.footerPorcentajeA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(porcentaje)));
                }
            }
        }
    }

    function obtenerPorcentajeA() {
        var ggbi = $('#ggbi').val();
        for (var i = 3; i <= 13; i++) {
            /* sacamos desde el mes actual hacia atras la suma de todos los totales de gastos */
            var datoGeneral = $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i)+')').attr('name');
            var datoFactura = $('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(i)+')').attr('name');
            
            if (datoGeneral != 0 || datoFactura != 0) {
                var totalGastos = 0;
                for (var j = i; j >= 2; j--) {
                    totalGastos += parseFloat($('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(j)+')').attr('name'));
                }

                var facturacionMes = 0;
                for (var j = i; j >= 2; j--) {
                    facturacionMes += parseFloat($('#tablaGastosGenerales tr.footerFacturacionMes td:nth-child('+(j)+')').attr('name'));
                }

                var valor1 = parseFloat(totalGastos);
                var valor2 = parseFloat(facturacionMes) / (1+ggbi/100); //puse multiplicación, y es división
                var acumulado = (valor1 / valor2) * 100;

                $('#tablaGastosGenerales tr.footerPorcentajeA td:nth-child('+(i)+')').attr('name', acumulado);
                $('#tablaGastosGenerales tr.footerPorcentajeA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(acumulado)));
            }
        }
    }

    function obtenerImporteA() {
        for (var i = 3; i <= 13; i++) {
            var value = $('#tablaGastosGenerales tr.footerImporte td:nth-child('+(i)+')').attr('name');
            var valueA = $('#tablaGastosGenerales tr.footerImporteA td:nth-child('+(i-1)+')').attr('name');
            if (valueA === undefined) { //si no tiene atributo name porque no tiene el primer valor (Enero)
                valueA = 0;
            }
            if (value != 0) {
                acumulado = parseFloat(value) + parseFloat(valueA);
                $('#tablaGastosGenerales tr.footerImporteA td:nth-child('+(i)+')').attr('name', acumulado);
                $('#tablaGastosGenerales tr.footerImporteA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(acumulado)));
            }
        }
    }

    function obtenerDiferencia() {
        for (var i = 2; i <= 13; i++) { //en este caso empieza en ENERO!! (2)
            var totalGastos = $('#tablaGastosGenerales tr.footerTotalGastos td:nth-child('+(i)+')').attr('name');
            var importeObras = $('#tablaGastosGenerales tr.footerImporte td:nth-child('+(i)+')').attr('name');
            var diferencia = parseFloat(totalGastos) - parseFloat(importeObras);
            $('#tablaGastosGenerales tr.footerDiferencia td:nth-child('+(i)+')').attr('name', diferencia);
            $('#tablaGastosGenerales tr.footerDiferencia td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(diferencia)));

            if (i == 2) { //aqui no existe aun el calculo y no lo puede coger
                $('#tablaGastosGenerales tr.footerDiferenciaA td:nth-child('+(i)+')').attr('name', diferencia);
                $('#tablaGastosGenerales tr.footerDiferenciaA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(diferencia)));
            }
        }
    }

    function obtenerDiferenciaA() {
        for (var i = 3; i <= 13; i++) {
            var value = $('#tablaGastosGenerales tr.footerDiferencia td:nth-child('+(i)+')').attr('name');
            var valueA = $('#tablaGastosGenerales tr.footerDiferenciaA td:nth-child('+(i-1)+')').attr('name');
            if (valueA === undefined) { //si no tiene atributo name porque no tiene el primer valor (Enero)
                valueA = 0;
            }
            if (value != 0) {
                acumulado = parseFloat(value) + parseFloat(valueA);
                $('#tablaGastosGenerales tr.footerDiferenciaA td:nth-child('+(i)+')').attr('name', acumulado);
                $('#tablaGastosGenerales tr.footerDiferenciaA td:nth-child('+(i)+')').text(addPuntoEnMil(formatoMoneda(acumulado)));
            }
        }
    }

    function formatoMoneda(n) {
        if (n == '') {
            return '';    
        }
    
        n = n.toFixed(2).replace('.',',');
        n = n.toString();
        //n = n + ' €';
            
        return n;
    }

    function addPuntoEnMil(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
    }
</script>
<script src="assets/sticky-header.js"></script> 
</body>