<body role="document" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom:20px;">
                <h3>Detalle {INFO_EFECTO}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Codigo Proveedor</th>                            
                            <th>Factura</th>
                            <th>Fecha Emision</th>
                            <th>Fecha Vencimiento</th>                            
                            <th>Numero efecto</th>
                            <th>Importe efecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {MAIN_CONTENT}                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>


