<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link media="screen" rel="stylesheet" type="text/css" href="styles/.css">
    <title>OCU - La respuesta inteligente - La respuesta independiente</title>
</head>
<body>
    <img src="http://descubriendo.la.ocu.org/theme/pixelcode?idEmail="><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td valign="top" align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="622">
                    <tr>
                        <td align="left" width="150">
                            <img src="http://ads.evolutionland.eu/OCU_PRM/supermercado/logoTop.jpg" style="display: block; border: 0" alt="Newsletter OCU"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="622">
                    <tr>
                        <td align="right" valign="bottom" height="25"><font style="font-family: Arial,Helvetica; font-size: 11px; color: #999999; font-style: italic; margin: 0 10px 0 0;">Si no visualizas correctamente este e-mail, 
				<a style="font-family:Arial,Helvetica; font-size:11px; color:#494949;font-style:italic;text-decoration:none;" href="http://nlnmocu.ocu.org/julio-2014/showNewsletter?idEmail=">
				pincha aquí</a>.</font></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="622">
                    <tr>
                        <td width="28" valign="top" align="left">
                            <img width="28" style="display: block;" src="http://nlnmocu.ocu.org/++resource++NewsletterImages/es/Prm_nm_bg_left.jpg"></td>
                        <td width="570" valign="top" align="left">
                            <table width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" colspan="2">
                                        <img style="display: block;" src="http://nlnmocu.ocu.org/++resource++NewsletterImages/es/header.jpg" alt="OCU. La respuesta inteligente. La respuesta independiente"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2">
                                        <img style="display: block;" src="http://nlnmocu.ocu.org/++resource++NewsletterImages/es/banner2.jpg" alt="Beneficiate de la informacion de consumo certificada por la OCU"></td>
                                </tr>
                                <tr>
                                    <td width="384" valign="top" align="left">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="44" align="left">
                                                    <img alt="picto01" style="display: block;" src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Picto01.jpg"></td>
                                                <td width="340" valign="bottom" align="left"><font style="font-family: Arial,Helvetica; font-size: 15px; color: #202020;"><span>Leche de buena calidad</span> - 
														<span style="font-family:Arial,Helvetica; font-size:15px; color:#a1a1a1;">Alimentación</span></font></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep01.jpg" alt="*" style="display: block;"><div style="font-family: Arial,Helvetica; font-size: 11px; color: #515151; margin-top: 5px; padding-right: 30px;"><span>¿Es buena la leche que consumes cada día? ¡Descúbrelo en nuestro estudio!</span></div>
                                                    <div id="themalnk" style="font-family: Arial,Helvetica; font-size: 11px; color: #5f5e5e; text-decoration: none;">
                                                        &gt; 
												<a style="font-family: Arial,Helvetica; font-size: 11px; color: #cf1726;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=579&amp;urlRedir=aHR0cDovL25sbm1vY3Uub2N1Lm9yZy9qdWxpby0yMDE0L3Nob3dMYW5kaW5nUGFnZT9pZEVtYWlsPTI4OTE2NDc0Jm1vZGFsPTEmdXJsPXJlYWRNb3JlSXRlbSUzRmlkJTNEZDZiZmVmMDIyN2I2NzIxYzlkYjAwMjhlOTM0YWE4ZWI=">Leer más</a>
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="180" align="left">
                                        <img align="Thema01" style="display: block;" src="http://nlnmocu.ocu.org/julio-2014/NewItem1/image"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep02.jpg" alt="sep" style="display: block;"></td>
                                </tr>
                                <tr>
                                    <td width="384" valign="top" align="left">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="44" align="left">
                                                    <img alt="picto01" style="display: block;" src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Picto01.jpg"></td>
                                                <td width="340" valign="bottom" align="left"><font style="font-family: Arial,Helvetica; font-size: 15px; color: #202020;"><span>Cláusulas suelo: reclama</span> - 
														<span style="font-family:Arial,Helvetica; font-size:15px; color:#a1a1a1;">Vivienda</span></font></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep01.jpg" alt="*" style="display: block;"><div style="font-family: Arial,Helvetica; font-size: 11px; color: #515151; margin-top: 5px; padding-right: 30px;"><span>¿Sabes si tu hipoteca tiene cláusula suelo? Infórmate y conoce tus derechos para reclamar. </span></div>
                                                    <div id="Div1" style="font-family: Arial,Helvetica; font-size: 11px; color: #5f5e5e; text-decoration: none;">
                                                        &gt; 
												<a style="font-family: Arial,Helvetica; font-size: 11px; color: #cf1726;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=576&amp;urlRedir=aHR0cDovL25sbm1vY3Uub2N1Lm9yZy9qdWxpby0yMDE0L3Nob3dMYW5kaW5nUGFnZT9pZEVtYWlsPTI4OTE2NDc0Jm1vZGFsPTEmdXJsPXJlYWRNb3JlSXRlbSUzRmlkJTNEZGJkZjkzMjJmMmE4MDIyMDY4NzUwN2Q0OTBmMTNiZDU=">Leer más</a>
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="180" align="left">
                                        <img align="Thema01" style="display: block;" src="http://nlnmocu.ocu.org/julio-2014/NewItem2/image"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep02.jpg" alt="sep" style="display: block;"></td>
                                </tr>
                                <tr>
                                    <td width="384" valign="top" align="left">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="44" align="left">
                                                    <img alt="picto01" style="display: block;" src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Picto01.jpg"></td>
                                                <td width="340" valign="bottom" align="left"><font style="font-family: Arial,Helvetica; font-size: 15px; color: #202020;"><span>Copias chinas de móviles</span> - 
														<span style="font-family:Arial,Helvetica; font-size:15px; color:#a1a1a1;">Tecnología</span></font></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep01.jpg" alt="*" style="display: block;"><div style="font-family: Arial,Helvetica; font-size: 11px; color: #515151; margin-top: 5px; padding-right: 30px;"><span>Los móviles chinos clones de otros teléfonos de alta gama cada vez están más de moda. Pero, ¿son sus prestaciones similares?</span></div>
                                                    <div id="Div2" style="font-family: Arial,Helvetica; font-size: 11px; color: #5f5e5e; text-decoration: none;">
                                                        &gt; 
												<a style="font-family: Arial,Helvetica; font-size: 11px; color: #cf1726;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=577&amp;urlRedir=aHR0cDovL25sbm1vY3Uub2N1Lm9yZy9qdWxpby0yMDE0L3Nob3dMYW5kaW5nUGFnZT9pZEVtYWlsPTI4OTE2NDc0Jm1vZGFsPTEmdXJsPXJlYWRNb3JlSXRlbSUzRmlkJTNEMGU3Nzk0MjE5NTBiNjJjNzA1NWMwNTkyODY1YjAwZjk=">Leer más</a>
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="180" align="left">
                                        <img align="Thema01" style="display: block;" src="http://nlnmocu.ocu.org/julio-2014/NewItem3/image"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep02.jpg" alt="sep" style="display: block;"></td>
                                </tr>
                                <tr>
                                    <td width="384" valign="top" align="left">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="44" align="left">
                                                    <img alt="picto01" style="display: block;" src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Picto02.jpg"></td>
                                                <td width="340" valign="bottom" align="left"><font style="font-family: Arial,Helvetica; font-size: 15px; color: #202020;"><span>Larga espera por un vuelo</span> - 
														<span style="font-family:Arial,Helvetica; font-size:15px; color:#a1a1a1;">Caso resuelto</span></font></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep01.jpg" alt="*" style="display: block;"><div style="font-family: Arial,Helvetica; font-size: 11px; color: #515151; margin-top: 5px; padding-right: 30px;">
                                                        <span>Tras sierte horas de retraso en la salida de su vuelo, P. y M. reclamaron a la compañía, que decidió no atender sus quejas. Acudieron a OCU para ayudar en la mediación.
                                                        </span>
                                                    </div>
                                                    <div id="Div3" style="font-family: Arial,Helvetica; font-size: 11px; color: #5f5e5e; text-decoration: none;">
                                                        &gt; 
												<a style="font-family: Arial,Helvetica; font-size: 11px; color: #cf1726;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=574&amp;urlRedir=aHR0cDovL25sbm1vY3Uub2N1Lm9yZy9qdWxpby0yMDE0L3Nob3dMYW5kaW5nUGFnZT9pZEVtYWlsPTI4OTE2NDc0Jm1vZGFsPTEmdXJsPXJlYWRNb3JlQ2FzJTNGaWQlM0Q1MzRlZTg4YmExNGM4NjE4NmQ5NmUxYjRhZGM3YmM2Ng==">Leer más</a>
                                                    </div>
                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="180" align="left">
                                        <img align="Thema01" style="display: block;" src="http://nlnmocu.ocu.org/julio-2014/CasVecu/image"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left">
                                        <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Sep02.jpg" alt="sep" style="display: block;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><a href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=575&amp;urlRedir=aHR0cHM6Ly9zdXNjcmlwY2lvbi5vY3Uub3JnL3NlcS90cmlhbC9lcy9iYXNlXzIwMTQvaW5kZXguaHRtbD9wcm9qZWN0PVRyaWFsJmNvZGVwcm9tPTk4OTg=">
                                        <img style="border: none; display: block; width: 564px;" src="http://nlnmocu.ocu.org/julio-2014/BannerPromo/bannerPromo" alt=""></a></td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" width="563">
                                <tr>
                                    <td width="34" height="53" align="left">
                                        <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/Prm_NM_Bg_Thematic.jpg" align="arrow thema" style="display: block;"></td>
                                    <td width="530" height="53" style="background-color: #f0f0f0" align="left">
                                        <div style="font-family: Arial,Helvetica; font-size: 14px; font-weight: bold; color: #363636;">Un resumen de nuestras revistas para el próximo mes:</div>
                                        <div style="font-family: Arial,Helvetica; font-size: 11px; color: #696969;">Echa un vistazo a los estudios y tests que publicaremos en los siguientes números de nuestras revistas.</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="34" height="68" align="left"></td>
                                    <td width="530" height="68" align="left">
                                        <table width="500" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" height="11" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Robots de cocina</span></td>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Balones de fútbol</span></td>
                                            </tr>
                                            <tr>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" height="11" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Sillitas de coche</span></td>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Bicis en la ciudad</span></td>
                                            </tr>
                                            <tr>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" height="11" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Revelado digital</span></td>
                                                <td width="10" height="12" align="left">
                                                    <img src="http://ads.evolutionland.eu/ta_prm/nonmembre/fr/bullet.png" alt="bullets" style="display: block;"></td>
                                                <td width="240" height="12" align="left"><span style="font-family: Arial,Helvetica; font-size: 11px; color: #696969; display: block;">Videocámaras</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img style="display: block;" src="http://nlnmocu.ocu.org/++resource++NewsletterImages/es/prm_nm_bg_footer.jpg" alt="Bienvenue dans un monde d'avantages"></td>
                                </tr>
                            </table>
                            <table width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" height="10" valign="bottom">
                                        <font style="font-family: Arial,Helvetica; font-size: 11px; color: #5f5e5e;">2014 © OCU EDICIONES, S.A |
										<a style="font-family:Arial,Helvetica; font-size:11px; color:#5f5e5e;text-decoration:none;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=573&amp;urlRedir=aHR0cDovL25sbm1vY3Uub2N1Lm9yZy9qdWxpby0yMDE0L3Nob3dMYW5kaW5nUGFnZT9pZEVtYWlsPTI4OTE2NDc0Jm1vZGFsPTEmdXJsPXByaXZhY3k="> Politica de Privacidad  </a> | 
										<a style="font-family:Arial,Helvetica; font-size:11px; color:#5f5e5e;text-decoration:none;" href="http://descubriendo.la.ocu.org/theme/redirectMail?idEmail=&amp;idBlocMail=571&amp;urlRedir=aHR0cDovL2NvbW1lcmNlLmNvbnNldXIub3JnL2NlL3Vuc3Vic2NyaWJlX21haWxfc2VydmljZS5hc3A/dHlwZT1QJmVtbF9pZF9jPVRIRVJPTlFVRUBHTUFJTC5DT00mbWFzX2lkX2M9TkxOTU9DVSZjbXNfbGdlX2lkX2M9RSZjbGlfaWRfcz0wJmNtc19pZF9zPTIwNjI5NDYxJm1hcl9pZF9jPTA0">Dejar de recibir esta newsletter </a></font>
                                        <br>
                                        <font style="font-family: Arial,Helvetica; font-size: 10px; color: #8a8a8a;">Esta newsletter se envía automáticamente. Por favor no respondas a esta dirección de e-mail.<br>Para cualquier consulta puedes hacerlo <a href="https://suscripcion.ocu.org/seq/trial/es/base_2014/index.html?project=Trial&amp;codeprom=9899&amp;modal=contact" style="font-family:Arial,Helvetica; font-size:10px; color:#e2001a;">aquí</a></font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="24" valign="top" align="Right">
                            <img style="display: block;" width="24" src="http://nlnmocu.ocu.org/++resource++NewsletterImages/es/Prm_nm_bg_right.jpg"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
