<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td align="center" bgcolor="#f0f0f0" valign="top">
                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#f0f0f0">
                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#f0f0f0" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 1px; color: #f0f0f0; min-width: 600px"><span style="color: #f0f0f0">Prepárate para las vacaciones con un descuento adicional especial de busuu</span></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td align="center" bgcolor="#f0f0f0" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #c3c3c3; padding: 7px 7px 7px 7px"><a href="http://link.busuu.com/view/532045d19d14e750622588311p0ve.8wrn/86e5e8de" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #3190d0; text-decoration: none" target="_blank">Ve este correo electrónico online</a></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td align="left" bgcolor="#f0f0f0">
                                                    <table width="33%" align="left" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #f0f0f0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="bottom" style="font-family: Arial,Helvetica,sans-serif; font-size: 40px; color: #0163a0; padding: 20px 0px 20px 0px; font-weight: bold"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/UvEwzeYQEzGSLXY1Bb62e" style="display: block; line-height: 0" target="_blank">
                                                                    <img src="https://ci5.googleusercontent.com/proxy/dS78m2HH8bH03MQ3bB88ZFasjEMKHFAwdS1LRpsOUkaCNak62ONjCNIUDQeDm17V8M7F564G-hvdmNxdfTIgrvwZ03D55uT9kyXDt4m2ZBCQDEixPOO_nhgD_xjnGFQ=s0-d-e1-ft#http://link.busuu.com/img/532045d19d14e750622588311p0ve.8wrn/a17f8f47.gif" alt="busuu" title="busuu" width="200" height="67" border="0" style="display: block"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="66%" align="left" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #f0f0f0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" valign="bottom" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: #12578b; padding: 64px 0px 20px 0px">¡Ahorra un 30% en nuestras rebajas de verano!</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 24px; font-weight: bold; color: #ffffff; padding: 20px 20px 20px 20px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/UvprcOYQ139EqBRxBb5d8" style="display: block; line-height: 0" target="_blank">
                                                    <img src="https://ci3.googleusercontent.com/proxy/jB7_xbx0o0mEZmGrIOK-NGSIX6cAuSefja_Od6FmLC-ITZYtbdd8UX2mmnAuqaxH3eQ5TmWVYUn3rEL0-aDqbT--kSIaeDWZgNVHvAE=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/7/m/53ce721fed15d.png" alt="¡Ahorra un 30% hoy con busuu!" title="¡Ahorra un 30% hoy con busuu!" width="560" border="0" style="display: block; background-color: #669ecf"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 0px 20px 0px 20px">Hola extratempus,<br>
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 0px 20px 0px 20px">¡Es <strong>temporada de vacaciones</strong>, el momento perfecto para mejorar tus habilidades lingüísticas! Queremos estar seguros de que pides el plato correcto en los restaurantes, tomas el autobús correcto y entiendes mejor otras culturas, así que aprovecha el <strong>descuento especial del 30%</strong> en nuestras Suscripciones Premium, disponible hasta el 27 de julio.</td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: #12578b; padding: 20px 20px 10px 20px">Deja el libro de frases en casa</td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 0px 20px 0px 20px">Como miembro Premium puedes acceder a nuestro <strong>curso de viaje</strong> en tu smartphone o tu tableta y puedes aprender acerca de expresiones básicas, comer fuera, transporte y cómo moverte por tu destino ¡Y mucho más!<br>
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 0px 20px 0px 20px">¡Esperamos que <strong>te lo pases muy bien</strong> aprendiendo un idioma para tu viaje! </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 20px 20px 20px 20px">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td bgcolor="#33a115" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: #ffffff; border-radius: 3px; padding: 13px 0px 13px 0px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/UvprcOYQ139EqBRxC9293" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; color: #ffffff; text-decoration: none" target="_blank">¡Hazme Premium!</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#f0f0f0" style="line-height: 20px; font-size: 20px">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td align="center" bgcolor="#ffffff" style="padding: 20px 20px 18px 20px">
                                                    <table width="560" cellpadding="0" cellspacing="0" border="0" style="min-width: 560px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" bgcolor="#ffffff">
                                                                    <table width="65%" align="left" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #ffffff">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="left" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 0px 20px 0px 0px">Hasta luego,<br>
                                                                                    <br>
                                                                                    <strong>The busuu team</strong></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="190" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #ffffff">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td colspan="4" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #12578b; padding: 0px 0px 9px 0px">¡Síguenos!</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: #cccccc; padding: 0px 0px 0px 1px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/Uwy6cOYQ97lk-MN1Bb5cd" target="_blank">
                                                                                    <img src="https://ci5.googleusercontent.com/proxy/EOO3W9M8tUROZS4AwKKpiUb8IyVGzfnBSog460-8HRnKLIbfKoyr3jrn_8ME8W0GLxtwKWE3NAH2oHtB0oNMjNXJym9PlGYNSDyydIo=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/2/h/53021f7d68f59.png" alt="Tw" title="Tw" width="34" height="34" border="0"></a></td>
                                                                                <td width="25%" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: #cccccc; padding: 0px 0px 0px 0px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/Uwy6cOYQ97lk-MN2B4b7a" target="_blank">
                                                                                    <img src="https://ci4.googleusercontent.com/proxy/KnH8nvxR91rSh1vh8gR9i5Nu-prRSC_7n4ky0JnbVC0GRL6COKUelTQSfPYFZUc9C_DogCoo3e9kyG3YYlmYTk55rSoj4j8GwqPECwQ=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/2/h/53021f75b3089.png" alt="Fb" title="Fb" width="34" height="34" border="0"></a></td>
                                                                                <td width="25%" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: #cccccc; padding: 0px 0px 0px 0px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/Uwy6cOYQ97lk-MN3Bc3a9" target="_blank">
                                                                                    <img src="https://ci4.googleusercontent.com/proxy/jhh1fP9tVzF_5I8-YrUMVJv52rpMc5F0m8Eg4MT-JTW3WuDqU9-0UeVIyZfdILbGWZYCx595Pjg8ngILlJj5gt-55gpbQ5d99C9EzAo=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/2/h/53021f6a12f8c.png" alt="Vk" title="Vk" width="34" height="34" border="0"></a></td>
                                                                                <td width="25%" align="center" style="font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: #cccccc; padding: 0px 0px 0px 0px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/Uwy6cOYQ97lk-MN4Bbac2" target="_blank">
                                                                                    <img src="https://ci4.googleusercontent.com/proxy/YgnMVbyrDy09Y2rt4E6VMPPhB3wH0Ru93bDqlNNZiDxNcvWyuCo3nA3O2XzkMyJ3j1w-AnGulbiNE8j2Nw59ZmV7Eki2Ug-9xn7O81U=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/2/h/53021f61de60d.png" alt="g+" title="g+" width="34" height="34" border="0"></a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#f0f0f0" style="line-height: 20px; font-size: 20px">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td align="left" bgcolor="#f0f0f0" style="padding: 10px 0px 10px 0px">
                                                    <table width="51%" align="left" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #f0f0f0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; padding: 2px 20px 0px 20px">
                                                                    <strong>¡Descarga nuestra aplicación gratuita para móvil</strong> y aprende idiomas sobre la marcha!</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="24%" align="left" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #f0f0f0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; font-weight: bold"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/UwyureYQhQe3Io83B5e7d" target="_blank">
                                                                    <img src="https://ci5.googleusercontent.com/proxy/QzwR60LXzgMMTwjZ10KoRYogLgPtYt5KodEiu-ZmEKpGJC1qmbwIpgcxBx_7jHFxS_kWvISPITX7nXxvYdQLUSYl_h6PkpTugnXvb_w=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/4/f/534d4db0dc378.png" alt="Apple" title="Apple" width="138" height="41" style="display: block" border="0"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table width="22%" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #f0f0f0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" style="font-family: Arial,Helvetica,sans-serif; font-size: 16px; color: #3e3e3e; font-weight: bold; padding: 0px 0px 0px 10px"><a href="http://link.busuu.com/532045d19d14e750622588311p0ve.8wrn/UwyureYQhQe3Io84B7d15" target="_blank">
                                                                    <img src="https://ci3.googleusercontent.com/proxy/c17EdiDfz6TiRzEsDDVJ3E81ivpzNpFN7Az4RAY--qtDNiqrLhcl2GiICX5c_gdp5_IqiK5a_WzcWlJEcynyCcmMVCn72NPaFmnws6o=s0-d-e1-ft#http://media.sailthru.com/3jw/1jy/4/f/534d4cee6cb61.png" alt="Android" title="Android" width="118" height="41" style="display: block" border="0"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="min-width: 600px">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="middle" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #9b9b9b; padding: 20px 20px 20px 20px">Has recibido este correo electrónico porque eres un miembro valioso de <span>busuu</span><br>
                                                    <a href="http://link.busuu.com/oc/532045d19d14e750622588311p0ve.8wrn/a4e859fb" style="font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: #3190d0; text-decoration: none" target="_blank">Gestiona tus preferencias de correo electrónico</a>.<br>
                                                    <br>
                                                    Busuu Ltd - 3rd Floor, Linen Court, <span>10 East Road, London, N1 6AD - UK</span><br>
                                                    © 2014 - todos los derechos reservados</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
