<div class="portlet light">

    <div class="portlet-title">

        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">{PAGE_TITLE}</span>
        </div>       
    </div>
    {SELECT_PV}

    <div class="portlet-body">
        <div class="table-container">

            <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">

                <div class="table-scrollable">
                    <table style="text-align:center;" class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                        <thead>
                            {TABLE_HEAD}
                        </thead>
                        <tbody>
                            {TABLE_CONTENT}
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
